@font-face {
    font-family: "Avenir Next";
    src: url(fonts/AvenirNextLTPro-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Next";
    src: url(fonts/AvenirNextLTPro-Bold.otf);
    font-weight: bold;
    font-style: normal;
}

:root {
    --background: rgb(106, 123, 139);
    --lightBackground: rgb(241, 243, 245);
    --textColor: rgb(92, 91, 91);
    --whiteColor: rgb(255, 255, 255);
    --hoverColor: rgb(231, 145, 65);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

/* Mobile version is created after the full version */

/* Working on header and footer + index page */

body {
    font-family: "Avenir Next";
    color: var(--textColor);
    background-color: var(--lightBackground);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar {
    background: var(--background);
    height: 80px;
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.nav-bar img {
    overflow: hidden;
    height: 70%;
    margin-left: 4%;
}

nav {
    position: absolute;
    text-align: right;
    top: 100%;
    background: var(--background);
    width: 100%;
    opacity: 90%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding-right: 4%;
    list-style: none;
}

nav li {
    margin-bottom: 0.5em;
}

nav a {
    color: var(--lightBackground);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--hoverColor);
}

.nav-toggle {
    display: none;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle-label {
    padding: 1em;
    margin-right: 4%;
    color: var(--lightBackground);
    border: 1px solid var(--lightBackground);
    border-radius: 10px;
}

.nav-toggle-label:hover {
    background-color: var(--hoverColor);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.big-logo-image {
    margin-top: 80px;
    width: 16%;
    min-width: 8em;
    max-width: 13em;
}

/* nav bar is done, will work on the hero section below:  */

main {
    padding-left: 5%;
    padding-right: 5%;
    min-height: calc(100vh - 80px - 100px);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero img {
    width: 100%;
}

.hero h1 {
    position: absolute;
    width: 80%; /* so it moves to the next line and doesn't overlap the image */
    margin-top: 10%;
    text-align: center;
    text-shadow: 1px 1px 4px var(--background);
    color: var(--lightBackground);
    font-size: 2em;
    text-transform: uppercase;
    z-index: 0;
}

/* Working on the second section here */

.features-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    color: var(--textColor);
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 1.3em;
    font-family: "Avenir Next";
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

.card {
    width: 90%;
    text-align: center;
    background: #bac2c9;
    color: var(--whiteColor);
    box-shadow: 0px 1px 2px 1.5px rgb(150, 150, 150, 70%);
    margin-block-end: 20px;
}

.card-icon {
    width: 120px;
    align-items: center;
    padding-top: 3em;
}

.feature-title {
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 2px 3px rgb(150, 150, 150);
}

.feature-description {
    padding: 10%;
    font-weight: normal;
}

.find-more {
    background-color: var(--background);
    width: 13rem;
    height: 3.5rem;
    border-radius: 7px;
    border: none;
    box-shadow: 1px 1px 1px rgb(150, 150, 150, 50%);
    color: var(--whiteColor);
    font-weight: normal;
    font-size: 1.2em;
}

/* Working on the notes section */

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--textColor);
    padding: 0 10%;
}

.timetable {
    display: flex;
    flex-direction: column;
    size: 100%;
    justify-content: center;
    align-items: center;
}

.timetable img {
    height: 5em;
    padding: 2em;
}

.timetable p {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

.notes {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.side-note {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.side-note p {
    margin: 1em;
    text-align: center;
    font-weight: normal;
    font-size: 1.2em;
}

.side-note p:nth-of-type(2), .bold-text {
    font-weight: bold;
}

.announce, .extra-info  {
    text-align: center;
    padding-top: 2em;
}

.announce {
    font-size: 1.4em;
}

.extra-info {
    font-size: 1.7em;
    padding-bottom: 2.5em;
}

/* Working on the footer here */

footer {
    background: var(--background);
    height: 100px;
    width: 100%;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr auto min-content 0.5fr;
    grid-column-gap: 10%;
    align-content: center;
}

.footer-logo {
    height: 4.5em;
    margin-left: 1em;
}

.socials-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--whiteColor);
}

.socials-table p {
    text-align: center;
}

.socials {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 0.5em;
}

.socials a {
    display: flex;
    width: 1.5em;
}

.socials a img {
    width: 100%;
}

/* "about" page styles except for header and footer*/

.info-block-top, .info-block-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    padding-top: 0;
    margin-bottom: 2em;
}

.info-block-bottom {
    flex-direction: column-reverse;
}

.info-block-top img, .info-block-bottom img {
    width: 100%;
    padding-top: 3em;
}

.info-block-text {
    padding-top: 2em;
}

.info-block-title {
    font-size: 1.5em;
}

/* "contact us" page styles except for header and footer*/

.contact-us-main-section {
    display: flexbox;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

.contact-us-page-title {
    font-size: 1.6em;
    text-align: center;
    padding-bottom: 1em;
}

.contact-details {
    width: max-content;
    margin: auto;
}

.contact-details p {
    padding: 1em;
}

.map {
    padding-top: 3em;
    margin-bottom: 6em;
}

@media screen and (min-width: 650px) {
    /* returning to original full version */
    
    .nav-toggle-label {
        display: none;
    }

    nav, nav a {
        opacity: 1;
    }

    /* Working on nav bar here  */

    .nav-bar {
        position: absolute;
        display: flex;
        justify-content: space-between;
    }

    nav {
        all:unset;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 4%;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav li {
        margin-bottom: 0;
        white-space: nowrap;
        padding-left: 2em;
    }

    nav a {
        all: unset;
        color: var(--lightBackground);
    }

    .cards {
        all: unset;
        display: flex;
        justify-content: space-between;
        padding-bottom: 2em;
    }

    .card {
        width: 30%;
        text-align: center;
    }

    h2 {
        font-size: 2em;
        padding: 2em;
    }

    /* Working on the notes section */

    .about-us {
        all: unset;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: var(--textColor);
        padding: 0 10%;
    }

    .timetable {
        all: unset;
        display: flex;
        size: 100%;
        justify-content: left;
        align-items: center;
    }

    .timetable img {
        height: 5em;
        padding: 2em;
    }

    .timetable p {
        font-weight: bold;
        font-size: 1.5em;
    }

    .notes {
        all: unset;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* Working on the footer here */

    footer {
        grid-template-columns: 5.5% 20em;
        grid-column-gap: 35%;
        align-content: center;
    }

    .footer-logo {
        height: 4.5em;
        margin-left: 4em;
    }

    .socials-table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--whiteColor);
    }

    .socials {
        display: flex;
        justify-content: space-between;
        width: 50%;
        padding: 0.5em;
    }

    /* "about" page styles except for header and footer*/

    .about-page-main-section {
        padding-bottom: 2em;
    }

    .info-block-top, .info-block-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 0;
        padding-bottom: 3em; 
    }

    .info-block-top {
        padding: 0;
    }

    .info-block-bottom {
        padding-right: 0;
    }

    .info-block {
        width: 60%;
        padding: 5%;
    }

    .info-block-top img, .info-block-bottom img {
        width: 40%;
    }

    .info-block-text {
        font-size: 1.2em;
    }

    .info-block-title {
        margin-top: 1em;
        font-size: 2em;
    }

    /* contact us page changes */

    .contact-us-page-title {
        font-size: 2em;
        text-align: center;
        padding-bottom: 1.7em;
    }
}