@font-face {
    font-family: avenirNext;
    src: url(fonts/AvenirNextLTPro-Regular.otf);
}

:root {
    --background: rgb(106, 123, 139, 95%)
}

body {
    background-color: #f1f3f5;
    margin: 0;
    padding: 0;
}

/* Working on nav bar here  */

header {
    background: var(--background);
    height: 80px;
    display: flex;
    justify-content: space-between;
}

header a {
    display: flex;
    padding: 1em;
    margin-left: 4%;
}

header nav {
    margin-right: 4%;
    flex: 1;
    max-width: 45%;
    display: flex;
}

header nav ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.nav-item {
    flex-basis: 30%;
    list-style-type: none;
    display: inline-block;
    max-width: fit-content;
    white-space: nowrap;
}

.nav-item a {
    text-decoration: none;
    color: #f1f3f5;
}